@using System.ComponentModel.DataAnnotations
@using EntityLayer.Concreate
@model List<Content>
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yazar Profili</title>
    <link rel="shortcut icon" type="image/png" href="~/AdminLTE-3.0.4/Modernize-1.0.0/src/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/Modernize-1.0.0/src/assets/css/styles.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-XBbk0GvbW09MQ0F5y5scg65fC9XzO3Ox/sGRiKj0YvHTFlb2WcHnsAjyKnfR1JNpXzyWfP3oNn7HxY/87DEQ8Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <meta charset="utf-8">
    <title>FreeFolio - Freelancer Portfolio Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/AdminLTE-3.0.4/freelancer-portfolio-template/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/AdminLTE-3.0.4/freelancer-portfolio-template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/AdminLTE-3.0.4/freelancer-portfolio-template/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/AdminLTE-3.0.4/freelancer-portfolio-template/css/style.css" rel="stylesheet">
</head>

<body style="background-color: black">
    <!--  Body Wrapper -->
    <div class="page-wrapper" style="background-color: black" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">

        <!-- Sidebar Start -->
        <aside class="left-sidebar" style="background-color: black">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <div class="col-lg-4 footer-end-grid mt-md-0 mt-sm-5" data-aos="fade-up">
                        <h2>
                            <a href="index.html">
                                Yazarımız
                            </a>
                        </h2>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu"><font color="gray">Yazdığı Başlık</font></span>
                        </li>
                        @foreach (var item in Model)
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="./index.html" aria-expanded="false">
                                    <span>
                                        <i style="color: dimgrey" class="ti ti-layout-dashboard"></i>
                                    </span>
                                    <span class="hide-menu"><font color="white">@item.Heading.HeadingName</font></span>
                                </a>
                            </li>
                        }
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu" style="color: dimgrey">İşlemler</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/DictionaryAll/LayoutPage" aria-expanded="false">
                                <span>
                                    <i class="ti ti-login" style="color: dimgrey"></i>
                                </span>
                                <span class="hide-menu" style="color: white">Geri Dön</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/Home/HomePage" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-plus" style="color: dimgrey"></i>
                                </span>
                                <span class="hide-menu" style="color: white">Kaydol (İletişime git)</span>
                            </a>
                        </li>

                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <div class="body-wrapper" style="background-color: black">
            <body data-spy="scroll" data-target=".navbar" data-offset="51" style="background-color: black">
                <!-- Navbar Start -->
                <!-- Navbar End -->
                <!-- Video Modal Start -->
                <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: black">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <!-- 16:9 aspect ratio -->
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Video Modal End -->
                <!-- Header Start -->
                @foreach (var item in Model)
                {
                    <div class="container-fluid bg-primary d-flex align-items-center mb-5 py-5" id="home" style="min-height: 100vh;">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-5 px-5 pl-lg-0 pb-5 pb-lg-0">
                                    <img class="img-fluid w-100 rounded-circle shadow-sm" src="@item.Writer.WriterImage" alt="">
                                </div>
                                <div class="col-lg-7 text-center text-lg-left">
                                    <h3 class="text-white font-weight-normal mb-3">Ben</h3>
                                    <h1 class="display-3 text-uppercase text-primary mb-2" style="-webkit-text-stroke: 2px #ffffff;">@item.Writer.WriterName @item.Writer.WriterSurname</h1>
                                    <h1 class="typed-text-output d-inline font-weight-lighter text-white"></h1>
                                    <div class="typed-text d-none">@item.Writer.WriterAttention1, @item.Writer.WriterAttention2, @item.Writer.WriterAttention3, @item.Writer.WriterAttention4</div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Header End -->
                    <!-- About Start -->
                    <div class="container-fluid py-5" id="about">
                        <div class="container">
                            <div class="position-relative d-flex align-items-center justify-content-center">
                                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">HAKKIMDA</h1>
                                <h1 class="position-absolute text-uppercase text-primary">HAKKIMDA</h1>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-lg-5 pb-4 pb-lg-0">
                                    <img class="img-fluid rounded w-100" src="@item.Writer.WriterImage" alt="">
                                </div>
                                <div class="col-lg-7">
                                    <h3 class="mb-4">@item.Writer.WriterAttention1 & @item.Writer.WriterAttention2</h3>
                                    <p>@item.Writer.WriterLongAbout</p>
                                    <div class="row mb-3">
                                        <div class="col-sm-6 py-2"><h6>İsim: <span class="text-secondary">@item.Writer.WriterName @item.Writer.WriterSurname</span></h6></div>
                                        <div class="col-sm-6 py-2"><h6>Doğum Günü: <span class="text-secondary">@(((DateTime)item.Writer.WriterDateTime).ToString("dd-MMM-yyyy"))</span></h6></div>
                                        <div class="col-sm-6 py-2"><h6>Meslek: <span class="text-secondary">@item.Writer.WriterTitle</span></h6></div>
                                        <div class="col-sm-6 py-2"><h6>Deneyim: <span class="text-secondary">@item.Writer.WriterExperience</span></h6></div>
                                        <div class="col-sm-6 py-2"><h6>Tel No: <span class="text-secondary">@item.Writer.WriterPhoneNumber</span></h6></div>
                                        <div class="col-sm-6 py-2"><h6>Email: <span class="text-secondary">@item.Writer.WriterMail</span></h6></div>
                                    </div>
                                    <a href="" class="btn btn-outline-primary mr-4">Hire Me</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- About End -->
                    <!-- Qualification Start -->
                    <!-- Qualification End -->
                    <!-- Skill Start -->
                    <div class="container-fluid py-5" id="skill">
                        <div class="container">
                            <div class="position-relative d-flex align-items-center justify-content-center">
                                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">YETENEKLER</h1>
                                <h1 class="position-absolute text-uppercase text-primary">YETENEKLERİM</h1>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="skill mb-4">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="font-weight-bold">@item.Writer.WriterSkill1</h6>
                                            <h6 class="font-weight-bold">@item.Writer.WriterSkill11%</h6>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="@item.Writer.WriterSkill11" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="skill mb-4">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="font-weight-bold">@item.Writer.WriterSkill2</h6>
                                            <h6 class="font-weight-bold">@item.Writer.WriterSkill22%</h6>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="@item.Writer.WriterSkill22" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="skill mb-4">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="font-weight-bold">@item.Writer.WriterSkill3</h6>
                                            <h6 class="font-weight-bold">@item.Writer.WriterSkill33%</h6>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="@item.Writer.WriterSkill33" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="skill mb-4">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="font-weight-bold">@item.Writer.WriterSkill4</h6>
                                            <h6 class="font-weight-bold">@item.Writer.WriterSkill44%</h6>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="@item.Writer.WriterSkill44" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="skill mb-4">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="font-weight-bold">@item.Writer.WriterSkill5</h6>
                                            <h6 class="font-weight-bold">@item.Writer.WriterSkill55%</h6>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="@item.Writer.WriterSkill55" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="skill mb-4">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="font-weight-bold">@item.Writer.WriterSkill6</h6>
                                            <h6 class="font-weight-bold">@item.Writer.WriterSkill66%</h6>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="@item.Writer.WriterSkill66" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*dasdasdasdas*@
                    <div class="container-fluid py-5" id="testimonial" style="background-color: black">
                        <div class="container">
                            <div class="position-relative d-flex align-items-center justify-content-center">
                                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">MİSYON</h1>
                                <h1 class="position-absolute text-uppercase text-primary">VİZYON</h1>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="owl-carousel testimonial-carousel">
                                        <div class="text-center">
                                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                                            <h4 class="font-weight-light mb-4">Yazmak yaşamak demek değildir, yaşamanın dışına çıkmaktır.</h4>
                                            <img class="img-fluid rounded-circle mx-auto mb-3" src="~/AdminLTE-3.0.4/freelancer-portfolio-template/img/BlaiseYazar.jpg" style="width: 80px; height: 80px;">
                                            <h5 class="font-weight-bold m-0">Söz Sahibi</h5>
                                            <span>Blaise Cendrars</span>
                                        </div>@*paginge bakkkkkkkkkkkkkkk!!!!!!!!!*@
                                        <div class="text-center">
                                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                                            <h4 class="font-weight-light mb-4">Yirmi yaşında şiirler yazıyorsanız, bu yirmi yaşında olduğunuzu gösterir, kırkında şiir yazıyorsanız, bu şair olduğunuzu gösterir.</h4>
                                            <img class="img-fluid rounded-circle mx-auto mb-3" src="~/AdminLTE-3.0.4/freelancer-portfolio-template/img/FrancisYazar.jpg" style="width: 80px; height: 80px;">
                                            <h5 class="font-weight-bold m-0">Söz Sahibi</h5>
                                            <span>Francis Carco</span>
                                        </div>
                                        <div class="text-center">
                                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                                            <h4 class="font-weight-light mb-4">İnsan, içinde bir yabancıyı barındırır; yazmak, işte o yabancıya ulaşmaktır.</h4>
                                            <img class="img-fluid rounded-circle mx-auto mb-3" src="~/AdminLTE-3.0.4/freelancer-portfolio-template/img/DurasYazar.jpg" style="width: 80px; height: 80px;">
                                            <h5 class="font-weight-bold m-0">Söz Sahibi</h5>
                                            <span>Marguerite Duras</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!-- Testimonial End -->
                <!-- Blog Start -->
                <!-- Blog End -->
                <!-- Contact Start -->
                <!-- Contact End -->
                <!-- Footer Start -->
                @foreach (var item in Model)
                {
                    <div class="container-fluid bg-primary text-white mt-5 py-5 px-sm-3 px-md-5" style="background-color: black">
                        <div class="container text-center py-5" style="background-color: black">
                            <div class="d-flex justify-content-center mb-4" style="background-color: black">
                                @if (item.Writer.WriterTwitter != null)
                                {
                                    <a class="btn btn-light btn-social" href="@item.Writer.WriterTwitter"><i class="fab fa-twitter"></i></a>
                                }
                                else
                                {
                                    <a class="btn btn-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
                                }
                                @if (item.Writer.WriterInsatgram != null)
                                {
                                    <a class="btn btn-light btn-social" href="@item.Writer.WriterInsatgram"><i class="fab fa-instagram"></i></a>
                                }
                                else
                                {
                                    <a class="btn btn-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                                }
                                @if (item.Writer.WriterFacebook != null)
                                {
                                    <a class="btn btn-light btn-social mr-2" href="@item.Writer.WriterFacebook"><i class="fab fa-facebook-f"></i></a>
                                }
                                else
                                {
                                    <a class="btn btn-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                }


                            </div>
                            <div class="d-flex justify-content-center mb-3">
                                <a class="text-white" href="#">Gizlilik</a>
                                <span class="px-3">|</span>
                                <a class="text-white" href="#">Şartlar</a>
                                <span class="px-3">|</span>
                                <a class="text-white" href="#">SSS</a>
                                <span class="px-3">|</span>
                                <a class="text-white" href="#">Yardım</a>
                            </div>

                        </div>
                    </div>
                }

                <!-- Footer End -->
                <!-- Scroll to Bottom -->
                <i class="fa fa-2x fa-angle-down text-white scroll-to-bottom"></i>

                <!-- Back to Top -->
                <a href="#" class="btn btn-outline-dark px-0 back-to-top"><i class="fa fa-angle-double-up"></i></a>

                <!-- JavaScript Libraries -->
                <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
                <script src="~/AdminLTE-3.0.4/freelancer-portfolio-template/lib/typed/typed.min.js"></script>
                <script src="~/AdminLTE-3.0.4/freelancer-portfolio-template/lib/easing/easing.min.js"></script>
                <script src="~/AdminLTE-3.0.4/freelancer-portfolio-template/lib/waypoints/waypoints.min.js"></script>
                <script src="~/AdminLTE-3.0.4/freelancer-portfolio-template/lib/owlcarousel/owl.carousel.min.js"></script>

                <script src="~/AdminLTE-3.0.4/freelancer-portfolio-template/lib/isotope/isotope.pkgd.min.js"></script>
                <script src="~/AdminLTE-3.0.4/freelancer-portfolio-template/lib/lightbox/js/lightbox.min.js"></script>

                <!-- Contact Javascript File -->
                <script src="~/AdminLTE-3.0.4/freelancer-portfolio-template/mail/jqBootstrapValidation.min.js"></script>
                <script src="~/AdminLTE-3.0.4/freelancer-portfolio-template/mail/contact.js"></script>

                <!-- Template Javascript -->
                <script src="~/AdminLTE-3.0.4/freelancer-portfolio-template/js/main.js"></script>
            </body>

            <!--  Sidebar End -->
            <!--  Main wrapper -->
            <div class="body-wrapper" style="background-color: black">
                <!--  Header Start -->
                <header class="app-header" style="background-color: black">
                    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: black">
                        <ul class="navbar-nav">
                            <li class="nav-item d-block d-xl-none">
                                <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                                    <i class="ti ti-menu-2"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="navbar-collapse justify-content-end px-0" id="navbarNav" style="background-color: black">
                            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                                <li class="nav-item dropdown">
                                    <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        <img src="~/AdminLTE-3.0.4/Modernize-1.0.0/src/assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                        <div class="message-body">
                                            <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                                <i class="ti ti-user fs-6"></i>
                                                <p class="mb-0 fs-3">My Profile</p>
                                            </a>
                                            <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                                <i class="ti ti-mail fs-6"></i>
                                                <p class="mb-0 fs-3">My Account</p>
                                            </a>
                                            <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                                <i class="ti ti-list-check fs-6"></i>
                                                <p class="mb-0 fs-3">My Task</p>
                                            </a>
                                            <a href="./authentication-login.html" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
                <!--  Header End -->

            </div>
        </div>
        <script src="~/AdminLTE-3.0.4/Modernize-1.0.0/src/assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="~/AdminLTE-3.0.4/Modernize-1.0.0/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/AdminLTE-3.0.4/Modernize-1.0.0/src/assets/js/sidebarmenu.js"></script>
        <script src="~/AdminLTE-3.0.4/Modernize-1.0.0/src/assets/js/app.min.js"></script>
        <script src="~/AdminLTE-3.0.4/Modernize-1.0.0/src/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
        <script src="~/AdminLTE-3.0.4/Modernize-1.0.0/src/assets/libs/simplebar/dist/simplebar.js"></script>
        <script src="~/AdminLTE-3.0.4/Modernize-1.0.0/src/assets/js/dashboard.js"></script>
    </div>
</body>

</html>
